<html>
<head>
  <title>明细详情</title>
  <meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=320,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/hfive/css/base.css?v=9">
<script type="application/javascript" src="/hfive/lib/fastclick.js"></script>
<script>
  var _hmt = _hmt || [];(function(){var hm = document.createElement("script");hm.src="https://hm.baidu.com/hm.js?074bb24e94cc1a14248e7f87f21b34f2";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body);
    }, false);
    window.addEventListener('resize', function(){
      var deviceWidth = document.documentElement.clientWidth;
      if(deviceWidth > 750) deviceWidth = 750;
      document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    });
  }
  var deviceWidth = document.documentElement.clientWidth;
  if(deviceWidth > 750) deviceWidth = 750;
  document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
</script>
  <link rel="stylesheet" href="/hfive/css/wallet_record.css">
</head>
<body>
  <div class="navbar-top"><div class="navbar-content fbox-ac">
    <a class="navbar-left fbox-cc hover" href="javascript:history.go(-1);"><span class="arr arr-left arr-white"></span></a>
    <div class="navbar-center fbox-f1 tc fsize-18">明细详情</div>
    <a class="navbar-right fbox-cc hover" href="/hfive/view/index.html"><span class="i-con i-home"></span></a>
  </div></div>
  <div class="container nav full">
  
  
  
    <div id="main" class="fsize-14 txt-lv1">
      <div class="fbox info">
        <p class="title fbox-f1">收款金额</p>
        <p class="txt-lv2">300.00</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">收款方</p>
        <p class="txt-lv2">李小萌</p>
      </div>
      <div class="fbox info">
        <p class="title">明细说明</p>
        <p class="fbox-f1"></p>
        <p class="text txt-lv2">您已经充值9元，当前账户余额10元</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">当前状态</p>
        <p class="txt-lv2">已入账</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">入账时间</p>
        <p class="txt-lv2">2017-08-09 21:03:25</p>
      </div>
    </div>
  
  
  
  
    <script type="text/template" id="main-tpl">
    {@if detailtype == 1 || detailtype == 43}
    <div id="main" class="fsize-14 txt-lv1">
      <div class="fbox info">
        <p class="title fbox-f1">收获金额</p>
        <p class="txt-lv2">${amts}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">收款方</p>
        <p class="txt-lv2">{@if userdata.associatorNickname}${userdata.associatorNickname}{@else}${user.phone}{@/if}</p>
      </div>
      <div class="fbox info">
        <p class="title">明细说明</p>
        <p class="fbox-f1"></p>
        <p class="text txt-lv2">${content}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">当前状态</p>
        <p class="txt-lv2">已入账</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">入账时间</p>
        <p class="txt-lv2">${createtime.time|build_time, 'yyyy-MM-dd hh:mm:ss'}</p>
      </div>
    </div>
    {@else if detailtype == 11 || detailtype == 12 || detailtype == 42}
    <div id="main" class="fsize-14 txt-lv1">
      <div class="fbox info">
        <p class="title fbox-f1">提现金额</p>
        <p class="txt-lv2">${amts}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">提现方</p>
        <p class="txt-lv2">{@if userdata.associatorNickname}${userdata.associatorNickname}{@else}${user.phone}{@/if}</p>
      </div>
      <div class="fbox info">
        <p class="title">明细说明</p>
        <p class="fbox-f1"></p>
        <p class="text txt-lv2">${content}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">当前状态</p>
        <p class="txt-lv2">已提现</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">提现方式</p>
        <p class="txt-lv2">
          {@if detailtype == 11}
          微信  
          {@else if detailtype == 12}
          银行卡
          {@else if detailtype == 42}
          支付宝
          {@/if}
        </p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">提现时间</p>
        <p class="txt-lv2">${createtime.time|build_time, 'yyyy-MM-dd hh:mm:ss'}</p>
      </div>
    </div>
    {@else if detailtype == 21 || detailtype == 41}
    <div id="main" class="fsize-14 txt-lv1">
      <div class="fbox info">
        <p class="title fbox-f1">付款金额</p>
        <p class="txt-lv2">${amts}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">付款方</p>
        <p class="txt-lv2">{@if userdata.associatorNickname}${userdata.associatorNickname}{@else}${user.phone}{@/if}</p>
      </div>
      <div class="fbox info">
        <p class="title">明细说明</p>
        <p class="fbox-f1"></p>
        <p class="text txt-lv2">${content}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">当前状态</p>
        <p class="txt-lv2">已支付</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">付款方式</p>
        <p class="txt-lv2">
          {@if detailtype == 21}
          微信
          {@else if detailtype == 41}
          支付宝
          {@/if}
        </p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">付款时间</p>
        <p class="txt-lv2">${createtime.time|build_time, 'yyyy-MM-dd hh:mm:ss'}</p>
      </div>
    </div>
    {@else if detailtype == 31}
    <div id="main" class="fsize-14 txt-lv1">
      <div class="fbox info">
        <p class="title fbox-f1">收款金额</p>
        <p class="txt-lv2">${amts}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">收款方</p>
        <p class="txt-lv2">{@if userdata.associatorNickname}${userdata.associatorNickname}{@else}${user.phone}{@/if}</p>
      </div>
      <div class="fbox info">
        <p class="title">明细说明</p>
        <p class="fbox-f1"></p>
        <p class="text txt-lv2">${content}</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">当前状态</p>
        <p class="txt-lv2">已入账</p>
      </div>
      <div class="fbox info">
        <p class="title fbox-f1">入账时间</p>
        <p class="txt-lv2">${createtime.time|build_time, 'yyyy-MM-dd hh:mm:ss'}</p>
      </div>
    </div>
    {@else}
    <div id="main" class="fsize-14 txt-lv1 tc">未找到该明细的详细信息</div>
    {@/if}
    </script>
  </div>
  <script src="/hfive/lib/zepto.js"></script>
<script src="/hfive/lib/juicer.js"></script>
<script src="/hfive/js/common.js?v=41"></script>
<script>
  if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
    handleFontSize();
  } else {
    if (document.addEventListener) {
      document.addEventListener("WeixinJSBridgeReady", handleFontSize, false);
    } else if (document.attachEvent) {
      document.attachEvent("WeixinJSBridgeReady", handleFontSize);
      document.attachEvent("onWeixinJSBridgeReady", handleFontSize);
    }
  }

  function handleFontSize() {
    // 设置网页字体为默认大小
    WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 });
    // 重写设置网页字体大小的事件
    WeixinJSBridge.on('menu:setfont', function() {
      WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize' : 0 });
    });
  }
</script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script src="/hfive/js/wallet_record.js?v=1"></script>
</body>
</html>