<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置log4j2的自身log级别为warn -->
<!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration status="INFO" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %l - %msg%n"/>
        </console>
        <!--  fileName="${sys:user.home}/logs/info.log" -->
        <RollingFile name="RollingFileInfo" fileName="/logs/cvhz.log.log"
                     filePattern="/logs/%d{yyyy-MM-dd}/cvhz.log-%d{yyyy-MM-dd}-%i.log" append ="true">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
           <!-- <Filters>
                <ThresholdFilter level="TRACE"/>
            </Filters>-->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %l - %msg%n"/>
            <Policies>
                <!--interval，integer型，指定两次封存动作之间的时间间隔。单位:以filePattern日志的命名精度来确定单位，
					比如yyyy-MM-dd-HH 单位为小时，yyyy-MM-dd-HH-mm 单位为分钟-->
                <TimeBasedTriggeringPolicy interval = "1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="30M" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>

            <!-- 此行以下为自动清理日志的配置 -->
            <DefaultRolloverStrategy>
                <!--<Delete basePath="/logs">
                    &lt;!&ndash; glob 项为需要自动清理日志的pattern &ndash;&gt;
                    <IfFileName glob="*.log"/>
                    &lt;!&ndash; age 表示自动清理掉1天以前的日志文件。单位:以filePattern日志的命名精度来确定单位 &ndash;&gt;
                    <IfLastModified age="30"/>
                </Delete>-->
            </DefaultRolloverStrategy>
            <!-- 此行以上为自动清理日志的配置 -->
        </RollingFile>

    </appenders>

    <loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="INFO">
        </logger>
        <logger name="org.mybatis" level="INFO">
        </logger>
        <logger name="org.quartz" level="INFO">
        </logger>
        <logger name="com.alibaba" level="INFO">
        </logger>
        <logger name="com.zccbh.demand.mapper" level="DEBUG">
        </logger>
        <logger name="com.zccbh" level="INFO">
        </logger>
        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>

</configuration>