<html>
<head>
  <title>车V互助</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=320,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/hfive/css/chemama_pay.css?v=1">
  <script type="application/javascript" src="/hfive/lib/fastclick.js"></script>
  <script>
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }
    var deviceWidth = document.documentElement.clientWidth;
    if(deviceWidth > 750) deviceWidth = 750;
    document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
  </script>
</head>
<body>
  <div class="container full">
    <!-- 充值板块 start -->
    <div id="card-box" class="hide">
      <div id="card-main">
        <div class="car-card">
          <p class="pnum fsize-20">川A11123</p>
          <p class="amt fsize-18">互助理赔额度1000元</p>
        </div>
      </div>
      <div id="pay-box" class="fsize-16 txt-lv1 shadow">
        <div class="fbox-ac info no-bdr">选择支付金额</div>
        <div id="level-box" class="fbox tc">
          <a class="level-item fbox-cc hover txt-lv2 active" href="javascript:;"><div><p class="fsize-14 fstrong">9元</p><p class="fsize-12">体验价，预计分摊1-2个月</p><span class="i-check fbox-cc"></span></div></a>
          <a class="level-item fbox-cc hover txt-lv2" href="javascript:;"><div><p class="fsize-14 fstrong">99元</p><p class="fsize-12">分摊全年12个月</p><span class="i-check fbox-cc"></span></div></a>
        </div>
      </div>
      <div class="btn-wrap">
        <div class="btn-box fbox-ac">
          <a id="btn-pay" class="btn strong hover" href="javascript:;">确认支付</a>
        </div>
      </div>
    </div>
    <!-- 充值板块 end -->
    <!-- 二维码板块 start -->
    <div id="card-box2" class="hide"><img src="/hfive/img/car_card_chev2.png?1" width="100%"></div>
    <!-- 二维码板块 end -->
    <div class="title2 fsize-18">加入规则</div>
    <div class="intro-list2">
      <div class="intro-item">
        <div class="intro-btn fbox-ac hover">
          <p class="intro-title fsize-16">加入条件</p>
          <p class="fbox-f1 fsize-14 txt-lv2">首充9元立享1000元/年理赔额度</p>
          <p class="intro-ar fbox-cc"><span class="arr arr-bottom arr-darkgray"></span></p>
        </div>
        <div class="intro-info fsize-14 txt-lv2">
          <p>大成都市范围（含外地长期行驶地在成都），上年度出险次数不超过3次，车龄限8年以内的私家车。面包车不能加入。</p>
        </div>
      </div>
      <div class="intro-item">
        <div class="intro-btn fbox-ac hover">
          <p class="intro-title fsize-16">互助范围</p>
          <p class="fbox-f1 fsize-14 txt-lv2">擦刮 玻璃破碎 爆胎等</p>
          <p class="intro-ar fbox-cc"><span class="arr arr-bottom arr-darkgray"></span></p>
        </div>
        <div class="intro-info fsize-14 txt-lv2">
          <p>碰撞损坏、车辆擦刮、玻璃破碎、轮胎爆胎、倒车镜擦刮均可互助，旧伤车可加入但旧伤不赔，划痕不赔。</p>
        </div>
      </div>
      <div class="intro-item">
        <div class="intro-btn fbox-ac hover">
          <p class="intro-title fsize-16">分摊金额</p>
          <p class="fbox-f1 fsize-14 txt-lv2">分摊≤0.1元/次</p>
          <p class="intro-ar fbox-cc"><span class="arr arr-bottom arr-darkgray"></span></p>
        </div>
        <div class="intro-info fsize-14 txt-lv2">
          <p>如：张三发生了一起小擦刮事故，定损价为280元，目前全员分摊只需0.1元；会员量越大分摊金额越小，最低0.01元，会员全年分摊累计不超过99元，事故全程公示。</p>
        </div>
      </div>
    </div>
    <div id="show-box">
      <a id="showbox" name="showbox" class="anchor"></a>
      <div class="show-menu show-main fbox-cc fsize-18">
        <a class="hover active" href="javascript:;">互助优势</a>
        <a class="hover" href="javascript:;">理赔说明</a>
        <a class="hover" href="javascript:;">常见问题</a>
      </div>
      <div id="show-content" class="no-scroll">
        <div class="show-item">
          <img src="/hfive/img/index_show_1.jpg">
          <img src="/hfive/img/index_show_2.jpg">
          <img src="/hfive/img/index_show_3.jpg">
          <div id="info6" class="info top fbox-ac tc"><div class="fbox-ac tc">
            <a class="fbox-f1" href="javascript:;"><span class="txt-blue fsize-22">0</span><br><span class="txt-lv3 fsize-14">互助成员</span></a>
            <a class="fbox-f1" href="javascript:;"><span class="txt-blue fsize-22">0</span><br><span class="txt-lv3 fsize-14">互助事件</span></a>
          </div></div>
          <div id="info5" class="info top fbox-ac tc"><div class="fbox-ac tc">
            <a class="fbox-f1" href="javascript:;"><span class="txt-blue fsize-22">0</span><br><span class="txt-lv3 fsize-14">互助金</span></a>
            <a class="fbox-f1" href="javascript:;"><span class="txt-blue fsize-22">0</span><br><span class="txt-lv3 fsize-14">发放互助金</span></a>
            <a class="fbox-f1" href="javascript:;"><span class="txt-blue fsize-22">0</span><br><span class="txt-lv3 fsize-14">平台运营(天)</span></a>
          </div></div>
          <div id="info3" class="info tc no-bdr">
            <p class="fsize-16" style="color:#d8d6d6;">——<font class="txt-lv1">媒体报道</font>——</p>
            <div class="partner">
              <a href="http://zhongshan.auto.qq.com/a/20180408/018976.htm" class="hover"><img src="/hfive/img/partner_1.jpg"></a><a href="http://sz.auto.sina.com.cn/2018-04-08/detail-ifyvtmxc7997290.shtml" class="hover"><img src="/hfive/img/partner_2.jpg"></a><a href="http://auto.ifeng.com/nanjing/xinwen/2018/0404/27351.shtml" class="hover"><img src="/hfive/img/partner_3.jpg"></a>
            </div>
          </div>
          <div id="logo-box"><img src="/hfive/img/chevhuzhu.png"></div>
        </div>
        <div class="show-item hide">
          <p class="show-title fsize-18">互助流程</p>
          <img src="/hfive/img/index_show_4.jpg" style="margin:.8rem 0 1.5rem;">
          <p class="show-title fsize-18">流程说明</p>
          <div id="step-box" class="fsize-16">
            <div class="step-item"><span class="fbox-cc">1</span><font class="fsize-14">在“我的——互助理赔”上传事故照片和说明；</font></div>
            <div class="step-item"><span class="fbox-cc">2</span><font class="fsize-14">并填写接车信息（接车地点、用户名和联系电话）；</font></div>
            <div class="step-item"><span class="fbox-cc">3</span><font class="fsize-14">维修厂接单，理赔管家定损；</font></div>
            <div class="step-item"><span class="fbox-cc">4</span><font class="fsize-14">留意手机或微信推送的信息，及时支付自付费用；</font></div>
            <div class="step-item"><span class="fbox-cc">5</span><font class="fsize-14">理赔管家接车到维修厂开始维修；</font></div>
            <div class="step-item"><span class="fbox-cc">6</span><font class="fsize-14">维修完成后，理赔管家填写接车信息，微信推送接车提醒；</font></div>
            <div class="step-item"><span class="fbox-cc">7</span><font class="fsize-14">用户评价完成后，账目公示、全员分摊。</font></div>
          </div>
          <p class="show-title fsize-18">案例说明</p>
          <p class="show-p1 fsize-14"><font class="txt-blue">车主</font>　黄*钧，车牌川A*Y8，加入平台40天。一次小擦刮，车辆左侧板受损，维修厂定损员定损价1000元，黄先生自付100元（为规避道德风险，每次事故车主承担10%）。平台承担900元，本次事故全员分摊0.1元/人。</p>
          <p class="show-title fsize-18">报案电话</p>
          <p class="show-p3"><a class="hover underline" href="tel:4000812868">400-0812-868</a></p>
        </div>
        <div id="help-box" class="show-item hide fsize-16 txt-blue">
          <p>Q：车V互助是干什么的？</p>
          <p class="desc fsize-14 txt-lv2">车V互助是专门解决车辆小擦刮的维修互助平台，维修范围包括会员车辆碰撞、擦刮、轮胎爆胎，玻璃破碎、倒车镜擦刮。</p>
          <p>Q：多少钱加入？</p>
          <p class="desc fsize-14 txt-lv2">现在新用户体验价9元（门槛费），上限是99元保证全年分摊，立享1000元维修补贴。</p>
          <p>Q：一年最多充多少钱？</p>
          <p class="desc fsize-14 txt-lv2">首充9元（门槛费）即可享受互助维修，费用不足时及时充值，上限是99元/年。</p>
          <p>Q：你们这个怎么分摊的？</p>
          <p class="desc fsize-14 txt-lv2">我们是“一人维修，全员分摊”，每次分摊金额不超过0.1元，会员量越大分摊越少，最少1分钱。</p>
          <p>Q：怎么加入？（加入流程）</p>
          <p class="desc fsize-14 txt-lv2">公众号搜索车V互助。</p>
          <p>Q：车子有旧伤可以加入吗？</p>
          <p class="desc fsize-14 txt-lv2">可以加入，但是旧伤不在保障范围内，加入后的新伤可正常享受互助维修，30天观察期后造成的新伤可正常享受互助维修。</p>
          <p>Q：成为会员后可以立刻维修吗？</p>
          <p class="desc fsize-14 txt-lv2">成功加入后有30天观察期，过观察期后如果出现事故，就可立即申请维修。</p>
          <p>Q：定损的人把价格定高了的话，用户怎么保护自己的权益？</p>
          <p class="desc fsize-14 txt-lv2">一般不会出现此类情况，对于每次的定损价格，我们都是需要通过客服审核的，保证是市场常规报价，而且每次事故均会公示，所有会员共同监督，高于正常定价将会影响理赔管家的信誉。</p>
          <p>Q：我又没有出险，我为什么要跟别人一起分摊？</p>
          <p class="desc fsize-14 txt-lv2">互助的理念就是“人人帮我，我帮人人”，权利和义务是对等的，每个人既享受他人帮助你的权利，同时也应尽到帮助他人的义务。跟买保险一个道理</p>
          <p>Q：9元钱是用完为止还是有时间限制？</p>
          <p class="desc fsize-14 txt-lv2">用完为止，没有时间限制，按平台会员实际出险完成分摊，为了保障您能正常享受互助权利，在余额低于1元钱的时候平台会有消息提示及时充值，充值上限99元/年。</p>
        </div>
      </div>
    </div>
  </div>
  <script src="/hfive/lib/zepto.js"></script>
  <script>
    var sta = window.location.search.match(/(&|\\?)sta=([^&]*)(&|$)/i);
    if (sta != null && sta[2] === 'paid') {
      $('#card-box2').removeClass('hide');
    } else {
      $('#card-box').removeClass('hide');
    }
    
    $('.intro-list2').on('click', '.intro-btn', function(){
      $(this).closest('.intro-item').toggleClass('active');
    })
    $('.show-menu').on('click', 'a', function(){
      var index = $(this).index();
      $('.show-menu').each(function(i, item){
        $(item).find('a').removeClass('active').eq(index).addClass('active');
      });
      $('#show-content .show-item').eq(index).removeClass('hide').siblings('.show-item').addClass('hide');
    })
    $('#level-box').on('click', '.level-item', function () {
      $(this).addClass('active').siblings().removeClass('active');
    });
  </script>
</body>
</html>