<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.user.UserAdminMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into cbh_user_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminUN != null and adminUN != ''">adminUN,</if>
            <if test="adminPN != null and adminPN != ''">adminPN,</if>
            <if test="adminPW != null and adminPW != ''">adminPW,</if>
            <if test="roleId != null">roleId,</if>
            <if test="timeLogin != null">timeLogin,</if>
            <if test="loginErrorNum != null">loginErrorNum,</if>
            <if test="timeLockover != null">timeLockover,</if>
            <if test="typeLock != null">typeLock,</if>
            <if test="status != null">status,</if>
            <if test="createAt != null">createAt,</if>
            <if test="toKen != null">toKen,</if>
            <if test="tokenAging != null">tokenAging,</if>
            <if test="iosDeviceId != null">iosDeviceId,</if>
            <if test="androidDeviceId != null">androidDeviceId,</if>
            <if test="isScrapResource != null">isScrapResource,</if>
            <if test="portrait != null">portrait,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="adminUN != null and adminUN != ''">#{adminUN,jdbcType=VARCHAR},</if>
            <if test="adminPN != null and adminPN != ''">#{adminPN,jdbcType=VARCHAR},</if>
            <if test="adminPW != null and adminPW != ''">#{adminPW,jdbcType=VARCHAR},</if>
            <if test="roleId != null">#{roleId,jdbcType=INTEGER},</if>
            <if test="timeLogin != null">#{timeLogin,jdbcType=DATE},</if>
            <if test="loginErrorNum != null">#{loginErrorNum,jdbcType=INTEGER},</if>
            <if test="timeLockover != null">#{timeLockover,jdbcType=DATE},</if>
            <if test="typeLock != null">#{typeLock,jdbcType=INTEGER},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">#{createAt,jdbcType=DATE},</if>
            <if test="toKen != null and toKen != ''">#{toKen,jdbcType=VARCHAR},</if>
            <if test="iosDeviceId != null and iosDeviceId != ''">#{iosDeviceId,jdbcType=VARCHAR},</if>
            <if test="androidDeviceId != null and androidDeviceId != ''">#{androidDeviceId,jdbcType=VARCHAR},</if>
            <if test="portrait != null and portrait != ''">#{portrait,jdbcType=VARCHAR},</if>
            <if test="tokenAging != null">#{tokenAging,jdbcType=DATE},</if>
            <if test="isScrapResource != null">#{isScrapResource,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE cbh_user_admin
        <set>
            <if test="adminUN != null and adminUN != ''">adminUN = #{adminUN,jdbcType=VARCHAR},</if>
            <if test="adminPN != null and adminPN != ''">adminPN = #{adminPN,jdbcType=VARCHAR},</if>
            <if test="adminPW != null and adminPW != ''">adminPW = #{adminPW,jdbcType=VARCHAR},</if>
            <if test="roleId != null">roleId = #{roleId,jdbcType=INTEGER},</if>
            <if test="timeLogin != null">timeLogin = #{timeLogin,jdbcType=DATE},</if>
            <if test="loginErrorNum != null">loginErrorNum = #{loginErrorNum,jdbcType=INTEGER},</if>
            <if test="timeLockover != null">timeLockover = #{timeLockover,jdbcType=DATE},</if>
            <if test="typeLock != null">typeLock = #{typeLock,jdbcType=INTEGER},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">createAt = #{createAt,jdbcType=DATE},</if>
            <if test="toKen != null and toKen != ''">toKen=#{toKen,jdbcType=VARCHAR},</if>
            <if test="portrait != null and portrait != ''">portrait=#{portrait,jdbcType=VARCHAR},</if>
            <if test="iosDeviceId != null and iosDeviceId != ''">iosDeviceId=#{iosDeviceId,jdbcType=VARCHAR},</if>
            <if test="androidDeviceId != null and androidDeviceId != ''">androidDeviceId=#{androidDeviceId,jdbcType=VARCHAR},</if>
            <if test="tokenAging != null">tokenAging=#{tokenAging,jdbcType=DATE},</if>
            <if test="isScrapResource != null">isScrapResource=#{isScrapResource,jdbcType=INTEGER},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="resetPassword" parameterType="java.util.Map">
        UPDATE cbh_user_admin
        <set>
            adminPW = #{adminPW,jdbcType=VARCHAR},
        </set>
        WHERE adminPN = #{adminPN,jdbcType=INTEGER}
    </update>

    <delete id="deleteModel" parameterType="java.lang.Integer">
        delete from cbh_user_admin where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT a.id,a.adminUN,a.adminPN,a.roleId,a.timeLogin,a.loginErrorNum,a.timeLockover,
        a.typeLock,a.status,a.createAt,r.name,r.status AS roleStatus,r.createAt AS roleCreateAt
        FROM
        cbh_user_admin a
        LEFT JOIN sys_role r ON a.roleId = r.id
        WHERE 1 = 1
        <if test="adminUN != null and adminUN != ''"> and adminUN like concat('%',#{adminUN,jdbcType=VARCHAR},'%')</if>
        <if test="adminPN != null and adminPN != ''"> and adminPN like concat('%',#{adminPN,jdbcType=VARCHAR},'%')</if>
        <if test="name != null and name != ''"> and name like concat('%',#{name,jdbcType=VARCHAR},'%')</if>
        ORDER BY a.createAt DESC
    </select>

    <select id="findLoginAdmin" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT c.id,c.adminUN,c.adminPN,c.roleId,r.rightsMenu,r.rightsResource
        FROM cbh_user_admin c
        LEFT JOIN sys_rights r ON r.roleId = c.roleId
        WHERE c.status = 1
        AND adminPW = #{adminPW,jdbcType=VARCHAR}
        AND (adminUN = #{adminUN,jdbcType=VARCHAR} OR adminPN = #{adminPN,jdbcType=VARCHAR})
    </select>

    <select id="isExist" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT id,adminUN,adminPN FROM cbh_user_admin
        WHERE adminUN = #{adminUN,jdbcType=VARCHAR} OR adminPN = #{adminPN,jdbcType=VARCHAR}
    </select>

    <select id="findAdminPN" parameterType="String" resultType="java.util.Map">
        select a.adminPN from cbh_user_admin a where a.roleId=2 limit 1
    </select>
    <select id="selectByToken" parameterType="java.util.Map" resultType="com.zccbh.demand.pojo.user.UserAdmin">
        select *
        from cbh_user_admin
        WHERE 1=1
        <if test="toKen != null and toKen != ''"> and toKen = #{toKen,jdbcType=VARCHAR}</if>
        <if test="adminPN != null and adminPN != ''"> and adminPN= #{adminPN,jdbcType=VARCHAR}</if>
        <if test="adminPW != null and adminPW != ''"> and adminPW= #{adminPW,jdbcType=VARCHAR}</if>
        limit 1
    </select>
    <select id="homepage" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT a.*,b.*,c.*,d.*,e.* FROM (
        ( SELECT cua.adminUN, cua.portrait,sr.name
          from cbh_user_admin AS cua
          JOIN sys_role AS sr ON cua.roleId=sr.id
          where cua.toKen=#{toKen,jdbcType=VARCHAR} )a
        JOIN(
          SELECT COUNT(*) AS eventNumber
          FROM cbh_event
          where isInvalid = 1 and statusEvent in( 1,10,12,22,81))b
        JOIN(
          SELECT COUNT(*) AS orderNumber
          FROM cbh_order
          where isInvalid = 1 and status in(1,10,12,32,71))c
        JOIN(
          SELECT COUNT(*) AS messageNumber
          from cbh_message_backstage
          WHERE isSolve=1)d
        JOIN(
          SELECT COUNT(*) AS complaintNumber
          from cbh_complaint
          WHERE status=1)e
        )
    </select>
    <select id="listAdminUserByRoles" resultType="java.util.Map">
        SELECT
            a.*
        FROM
            cbh_user_admin a
        WHERE
            a.roleId IN 
            <foreach collection="roleIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>
    <select id="selectByUsername" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT c.id,c.adminUN,c.adminPN,c.adminPW,c.roleId,r.rightsMenu,r.rightsResource
        FROM cbh_user_admin c
        LEFT JOIN sys_rights r ON r.roleId = c.roleId
        WHERE c.status = 1
        AND (adminUN = #{adminUN,jdbcType=VARCHAR} OR adminPN = #{adminPN,jdbcType=VARCHAR})
        LIMIT 1
    </select>
</mapper>