<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.foundation.FoundationMapper">
	<update id="updateModel" parameterType="java.util.Map">
        UPDATE cbh_foundation
        <set>
            <if test="amtTotal != null and amtTotal != ''">amtTotal = #{amtTotal},</if>
            <if test="amtBalance != null">amtBalance = #{amtBalance},</if>
            <if test="amtPaid != null and amtPaid != ''">amtPaid = #{amtPaid},</if>
            <if test="realPaid != null and realPaid != ''">realPaid = #{realPaid},</if>
            <if test="allowance != null and allowance != ''">allowance = #{allowance},</if>
            <if test="showTotal != null and showTotal != ''">showTotal = #{showTotal},</if>
            <if test="showCustomer != null and showCustomer != ''">showCustomer = #{showCustomer},</if>
            <if test="showCar != null and showCar != ''">showCar = #{showCar},</if>
            <if test="payNum != null and payNum != ''">payNum = #{payNum},</if>
            <if test="eventNum != null and eventNum != ''">eventNum = #{eventNum},</if>
        </set>
        <if test="id != null and id != ''">where id = #{id}</if>
    </update>

	<update id="updateData" parameterType="java.util.Map">
        UPDATE cbh_foundation
        <set>
            <if test="amtTotal != null and amtTotal != ''">amtTotal = #{amtTotal},</if>
            <if test="amtBalance != null">amtBalance = #{amtBalance},</if>
            <if test="amtPaid != null and amtPaid != ''">amtPaid = #{amtPaid},</if>
            <if test="realPaid != null and realPaid != ''">realPaid = #{realPaid},</if>
            <if test="allowance != null and allowance != ''">allowance = #{allowance},</if>
            <if test="showTotal != null and showTotal != ''">showTotal = #{showTotal},</if>
            <if test="showCustomer != null and showCustomer != ''">showCustomer = #{showCustomer},</if>
            <if test="showCar != null and showCar != ''">showCar = #{showCar},</if>
            <if test="payNum != null and payNum != ''">payNum = #{payNum},</if>
            <if test="eventNum != null and eventNum != ''">eventNum = #{eventNum},</if>
            <if test="versions != null and versions != ''">versions = #{versions}+1,</if>
        </set>
        where versions=#{versions}
        <if test="id != null and id != ''">AND id = #{id}</if>
    </update>

    <select id="findEntitySingle" parameterType="java.util.Map" resultType="com.zccbh.demand.pojo.common.Foundation">
        SELECT id,amtTotal,amtBalance,amtPaid,allowance,realPaid,showTotal,showCustomer,showCar,versions, payNum,eventNum,createAt FROM cbh_foundation
        WHERE id = 1
    </select>

    <select id="findCurrentMonthRealPaid" resultType="java.util.Map">
       SELECT
            IFNULL(sum(amt),0) AS currentMonthRealPaid
        FROM
            cbh_account_detail
        WHERE
            type = 42
        AND date_format(createAt, '%Y-%m') = date_format(NOW(), '%Y-%m')
    </select>
    
    <select id="getSubsidy" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT c.NAME,	count( c.NAME ) num, sum( d.amt ) totalamt 
		FROM
			cbh_user_customer a,
			middle_customer_maintenanceshop b,
			cbh_maintenanceshop c,
			cbh_record_recharge d 
		WHERE
			( a.id = b.customerId OR a.openId = b.openId ) 
			AND b.maintenanceshopId = c.id 
			AND c.type = 20 
			AND a.id = d.customerId 
			AND d.type > 2 
			AND d.STATUS = 1 
			AND d.eventType &gt; 3 
			AND eventNo IS NULL 
		GROUP BY c.NAME 
		ORDER BY totalamt desc
    </select>
</mapper>