.container {
  background-color: #f25948; }

#img {
  position: absolute;
  top: 1.5rem;
  left: 1.77rem;
  width: 4.9rem; }

#img2 {
  position: absolute;
  top: .8rem;
  left: .67rem;
  width: 6.16rem; }

#logo {
  position: absolute;
  top: .2rem;
  left: .2rem; }

#cname {
  position: absolute;
  top: 1rem;
  right: 5.5rem;
  color: #c94b3d;
  line-height: 1;
  font-weight: bold;
  text-align: center; }

#phone-box {
  position: relative;
  padding-top: 65%;
  background: url(/hfive/img/event_cdcyh_2.png) center top/7.1rem auto no-repeat; }

#phone {
  position: absolute;
  top: 2rem;
  left: 1.2rem;
  width: 3.5rem;
  height: .86rem;
  color: #813deb;
  border-radius: 0; }
  #phone::-webkit-input-placeholder {
    font-weight: normal; }
  #phone:-ms-input-placeholder {
    font-weight: normal; }
  #phone::-ms-input-placeholder {
    font-weight: normal; }
  #phone::placeholder {
    font-weight: normal; }
  #phone.v2 {
    top: 11rem;
    left: .8rem;
    width: 4rem;
    height: .88rem;
    color: #000;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #940d07;
    box-shadow: 2px 2px 2px #940d07; }
    #phone.v2::-webkit-input-placeholder {
      color: #dec7b7; }
    #phone.v2:-ms-input-placeholder {
      color: #dec7b7; }
    #phone.v2::-ms-input-placeholder {
      color: #dec7b7; }
    #phone.v2::placeholder {
      color: #dec7b7; }

#btn-confirm {
  position: absolute;
  top: 1.68rem;
  right: 1.1rem;
  width: 1.44rem;
  height: 1.44rem;
  background: url(/hfive/img/event_cdcyh_3.png) center/100% 100% no-repeat; }
  #btn-confirm.v2 {
    top: 11rem;
    left: 5rem;
    width: 1.7rem;
    height: .88rem;
    color: #ac4600;
    font-weight: bold;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px #940d07;
    box-shadow: 2px 2px 2px #940d07;
    background: #ffe54c;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff36d), color-stop(50%, #fff36d), color-stop(51%, #ffda31), to(#ffda31));
    background: linear-gradient(to bottom, #fff36d 0%, #fff36d 50%, #ffda31 51%, #ffda31 100%); }

#txt1 {
  position: absolute;
  top: 2.86rem;
  left: 1.2rem;
  width: 5.9rem;
  text-align: left;
  color: #fff;
  line-height: 2.5; }
