#t1 {
  margin: 1.2rem .7rem .8rem; }

.ibox {
  margin: 0 .7rem;
  background-color: #f0f0f0; }
  .ibox input {
    background: none; }

#btn-cancel {
  width: .8rem;
  height: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#btn-confirm {
  margin: .8rem 1.15rem; }
