.container {
  background-color: #fff; }

.info {
  margin-top: .2rem;
  background-color: #fff; }
  .info.top {
    margin-top: 0; }

.avatar {
  width: .6rem;
  height: .6rem;
  margin: .2rem .2rem 0 0; }

.i-con {
  display: block;
  margin-right: .2rem;
  width: .6rem;
  height: .6rem;
  background: url(/hfive/img/statistics_sprite_1.png) 0 0/6rem auto no-repeat; }
  .i-con.i6 {
    background-position: -3rem 0; }
  .i-con.i7 {
    background-position: -3.6rem 0; }
  .i-con.i8 {
    background-position: -4.2rem 0; }

.title {
  padding: .1rem .3rem;
  color: #2791ff;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6; }
  .title:first-child {
    border-top: none; }

.content {
  padding: .3rem;
  line-height: 1.5;
  text-align: justify; }
  .content .spec {
    margin-bottom: .2rem; }
    .content .spec .p1 {
      margin-top: .2rem;
      margin-right: 1.2rem; }
    .content .spec .p2 {
      margin-top: .2rem; }

.top-item {
  padding: .2rem .3rem;
  color: #000;
  border-top: 1px solid #f6f6f6; }
  .top-item .minfo {
    padding: 0 .2rem; }
  .top-item .spec {
    margin-bottom: .2rem; }
    .top-item .spec .p1 {
      margin: .2rem 1rem 0 0; }
    .top-item .spec .p2 {
      margin: .2rem 0 0; }

.photo-box {
  padding-bottom: .5rem; }

.photo-item {
  margin-top: .4rem;
  margin-left: .4rem;
  text-align: center; }
  .photo-item:nth-of-type(2n) {
    margin-left: .7rem; }

.photo-title {
  margin-bottom: .2rem; }

.photo-img {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 6px; }
  .photo-img img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }

#star-box {
  line-height: 1; }

.i-star {
  display: block;
  margin-right: .2rem;
  width: .5rem;
  height: .5rem;
  background: url(/hfive/img/sprite_star_1.png?1) 0 -1.5rem/0.5rem auto no-repeat; }
  .i-star.empty {
    background-position: 0 -2rem; }

#tag-box {
  padding-top: .2rem; }
  #tag-box a {
    display: block;
    margin: .2rem .4rem 0 0;
    padding: 2px 4px;
    color: #3196fe;
    border: 1px solid #3196fe; }
    #tag-box a.active {
      color: #fff;
      background-color: #3196fe; }

#desc-box {
  margin: .2rem 0 0;
  background-color: #f5faff; }

#desc {
  height: 2.6rem; }

#desc-status {
  padding: .2rem; }
