.container {
  padding-left: .3rem;
  padding-right: .3rem; }

#coupon {
  position: relative;
  margin-top: .3rem;
  padding-left: 110px;
  height: 120px; }
  #coupon .img {
    position: absolute;
    left: -2px;
    top: 0;
    height: 100%; }
  #coupon .p1 {
    margin-bottom: 10px;
    color: #282828; }
  #coupon .p2 {
    padding-right: 20px;
    margin-bottom: 15px;
    color: #a9a9a9; }
    #coupon .p2 span {
      color: #282828;
      text-decoration: line-through; }
  #coupon .bot {
    position: absolute;
    bottom: 5px;
    left: 110px;
    color: #d9d9d9; }
    #coupon .bot img {
      width: 1.2rem;
      margin: 0 4px;
      vertical-align: middle; }

#rule {
  margin: .3rem 0;
  padding: .3rem 0;
  border-top: 1px solid #f2f5fc;
  border-bottom: 1px solid #f2f5fc; }
  #rule p {
    line-height: 1.5;
    color: #9f9f9f; }
  #rule .title {
    color: #323232; }

#number {
  padding-bottom: .3rem; }
