<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zccbh.demand.mapper.merchants.CbhEventComplaintMapper" >
  <resultMap id="BaseResultMap" type="com.zccbh.demand.pojo.merchants.CbhEventComplaint" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eventNo" property="eventNo" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="timeComplaint" property="timeComplaint" jdbcType="TIMESTAMP" />
    <result column="timeUnComplaint" property="timeUnComplaint" jdbcType="TIMESTAMP" />
    <result column="createAt" property="createAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>