<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zccbh.demand.mapper.merchants.CbhEventCommentMapper" >
  <resultMap id="BaseResultMap" type="com.zccbh.demand.pojo.merchants.CbhEventComment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customerId" property="customerId" jdbcType="INTEGER" />
    <result column="maintenanceshopId" property="maintenanceshopId" jdbcType="INTEGER" />
    <result column="eventNo" property="eventNo" jdbcType="VARCHAR" />
    <result column="labelContent" property="labelContent" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="createAt" property="createAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>