<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.business.MaintenanceshopEmployeeMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into cbh_maintenanceshop_employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="maintenanceshopId != null">maintenanceshopId,</if>
            <if test="type != null">type,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="workYear != null">workYear,</if>
            <if test="introduction != null and introduction != ''">introduction,</if>
            <if test="img != null and img != ''">img,</if>
            <if test="comment != null and comment != ''">comment,</if>
            <if test="timeJoin != null">timeJoin,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="maintenanceshopId != null">#{maintenanceshopId,jdbcType=INTEGER},</if>
            <if test="type != null">#{type,jdbcType=INTEGER},</if>
            <if test="name != null and name != ''">#{name,jdbcType=VARCHAR},</if>
            <if test="workYear != null">#{workYear,jdbcType=INTEGER},</if>
            <if test="introduction != null and introduction != ''">#{introduction,jdbcType=VARCHAR},</if>
            <if test="img != null and img != ''">#{img,jdbcType=VARCHAR},</if>
            <if test="comment != null and comment != ''">#{comment,jdbcType=VARCHAR},</if>
            <if test="timeJoin != null">#{timeJoin,jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE cbh_maintenanceshop_employee
        <set>
            <if test="maintenanceshopId != null">maintenanceshopId = #{maintenanceshopId,jdbcType=INTEGER},</if>
            <if test="type != null">type = #{type,jdbcType=INTEGER},</if>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="workYear != null">workYear = #{workYear,jdbcType=INTEGER},</if>
            <if test="introduction != null and introduction != ''">introduction = #{introduction,jdbcType=VARCHAR},</if>
            <if test="img != null and img != ''">img = #{img,jdbcType=VARCHAR},</if>
            <if test="comment != null and comment != ''">comment = #{comment,jdbcType=VARCHAR},</if>
            <if test="timeJoin != null">timeJoin = #{timeJoin,jdbcType=DATE},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteModel" parameterType="java.lang.Integer">
        delete from cbh_maintenanceshop_employee where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findSingle" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT e.id,e.maintenanceshopId,e.name,e.tel,e.jobTitle,e.gender,e.workYear,e.type,e.introduction,e.img,e.comment,e.timeJoin,e.createAt,m.name shopName
        FROM cbh_maintenanceshop_employee e
          LEFT JOIN cbh_maintenanceshop m ON e.maintenanceshopId = m.id
        WHERE e.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT e.*,m.name shopName
        FROM cbh_maintenanceshop_employee e
          LEFT JOIN cbh_maintenanceshop m ON e.maintenanceshopId = m.id
        WHERE 1 = 1
        <if test="name != null and name != ''"> and e.name like concat('%',#{name,jdbcType=VARCHAR},'%')</if>
        <if test="shopName != null and shopName != ''"> and m.name like concat('%',#{shopName,jdbcType=VARCHAR},'%')</if>
        <if test="maintenanceshopId != null"> AND maintenanceshopId = #{maintenanceshopId,jdbcType=INTEGER}</if>
        ORDER BY m.name DESC,e.timeJoin ASC
    </select>

    <select id="findShopEmp" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT COUNT(e.id) AS empNum
        FROM cbh_maintenanceshop_employee e
        WHERE e.maintenanceshopId = #{shopId,jdbcType=INTEGER}
    </select>
</mapper>