<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.business.UserBusinessMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into cbh_user_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessUN != null and businessUN != ''">businessUN,</if>
            <if test="businessPN != null and businessPN != ''">businessPN,</if>
            <if test="businessPW != null and businessPW != ''">businessPW,</if>
            <if test="openId != null and openId != ''">openId,</if>
            <if test="toKen != null and toKen != ''">toKen,</if>
            <if test="tokenAging != null">tokenAging,</if>
            <if test="iosDeviceId != null and iosDeviceId != ''">iosDeviceId,</if>
            <if test="androidDeviceId != null and androidDeviceId != ''">androidDeviceId,</if>
            <if test="timeLogin != null">timeLogin,</if>
            <if test="loginErrorNum != null">loginErrorNum,</if>
            <if test="timeLockover != null">timeLockover,</if>
            <if test="typeLock != null">typeLock,</if>
            <if test="typeUser != null">typeUser,</if>
            <if test="status != null">status,</if>
            <if test="createAt != null">createAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessUN != null and businessUN != ''">#{businessUN,jdbcType=VARCHAR},</if>
            <if test="businessPN != null and businessPN != ''">#{businessPN,jdbcType=VARCHAR},</if>
            <if test="businessPW != null and businessPW != ''">#{businessPW,jdbcType=VARCHAR},</if>
            <if test="openId != null and openId != ''">#{openId,jdbcType=VARCHAR},</if>
            <if test="toKen != null and toKen != ''">#{toKen,jdbcType=VARCHAR},</if>
            <if test="tokenAging != null">#{tokenAging,jdbcType=DATE},</if>
            <if test="iosDeviceId != null and iosDeviceId != ''">#{iosDeviceId,jdbcType=VARCHAR},</if>
            <if test="androidDeviceId != null and androidDeviceId != ''">#{androidDeviceId,jdbcType=VARCHAR},</if>
            <if test="timeLogin != null">#{timeLogin,jdbcType=DATE},</if>
            <if test="loginErrorNum != null">#{loginErrorNum,jdbcType=INTEGER},</if>
            <if test="timeLockover != null">#{timeLockover,jdbcType=DATE},</if>
            <if test="typeLock != null">#{typeLock,jdbcType=INTEGER},</if>
            <if test="typeUser != null">#{typeUser,jdbcType=INTEGER},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">#{createAt,jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE cbh_user_business
        <set>
            <if test="businessUN != null and businessUN != ''">businessUN = #{businessUN,jdbcType=VARCHAR},</if>
            <if test="businessPN != null and businessPN != ''">businessPN = #{businessPN,jdbcType=VARCHAR},</if>
            <if test="businessPW != null and businessPW != ''">businessPW = #{businessPW,jdbcType=VARCHAR},</if>
            <if test="openId != null and openId != ''">openId = #{openId,jdbcType=VARCHAR},</if>
            <if test="toKen != null and toKen != ''">toKen = #{toKen,jdbcType=VARCHAR},</if>
            <if test="tokenAging != null">tokenAging = #{tokenAging,jdbcType=DATE},</if>
            <if test="iosDeviceId != null and iosDeviceId != ''">iosDeviceId = #{iosDeviceId,jdbcType=VARCHAR},</if>
            <if test="androidDeviceId != null and androidDeviceId != ''">androidDeviceId = #{androidDeviceId,jdbcType=VARCHAR},</if>
            <if test="timeLogin != null">timeLogin = #{timeLogin,jdbcType=DATE},</if>
            <if test="loginErrorNum != null">loginErrorNum = #{loginErrorNum,jdbcType=INTEGER},</if>
            <if test="timeLockover != null">timeLockover = #{timeLockover,jdbcType=DATE},</if>
            <if test="typeLock != null">typeLock = #{typeLock,jdbcType=INTEGER},</if>
            <if test="typeUser != null">typeUser = #{typeUser,jdbcType=INTEGER},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">createAt = #{createAt,jdbcType=DATE},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteModel" parameterType="java.lang.Integer">
        delete from cbh_user_business where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT b.id,b.businessUN,b.businessPN,b.businessPW,b.openId,b.toKen,b.tokenAging,b.iosDeviceId,
        b.androidDeviceId,b.timeLogin,b.loginErrorNum,b.timeLockover,b.typeLock,b.typeUser,b.status,b.createAt,m.id AS shopId,m.name AS shopName
        FROM
        cbh_user_business b
        LEFT JOIN middle_business_maintenanceshop middle ON b.id = middle.businessId
        LEFT JOIN cbh_maintenanceshop m ON m.id = middle.maintenanceshopId
        WHERE 1 = 1
        <if test="businessUN != null and businessUN != ''"> and b.businessUN like concat('%',#{businessUN,jdbcType=VARCHAR},'%')</if>
        <if test="businessPN != null and businessPN != ''"> and b.businessPN like concat('%',#{businessPN,jdbcType=VARCHAR},'%')</if>
        <if test="typeUser != null"> and b.typeUser = #{typeUser,jdbcType=INTEGER}</if>
        <if test="shopName != null and shopName != ''"> and m.name like concat('%',#{shopName,jdbcType=VARCHAR},'%')</if>
        <if test="maintenanceshopId != null"> and m.id = #{maintenanceshopId,jdbcType=INTEGER}</if>
        ORDER BY m.name DESC,b.createAt ASC
    </select>

    <select id="isExist" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT id,businessUN,businessPN FROM cbh_user_business
        WHERE businessUN = #{businessUN,jdbcType=VARCHAR} OR businessPN = #{businessPN,jdbcType=VARCHAR}
    </select>

    <select id="haveAdministrator" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM cbh_user_business b
        LEFT JOIN middle_business_maintenanceshop mb ON mb.businessId = b.id
        LEFT JOIN cbh_maintenanceshop m ON m.id = mb.maintenanceshopId
        WHERE b.typeUser = 1 AND m.id = #{maintenanceshopId,jdbcType=INTEGER}
        <if test="businessId != null"> and b.id != #{businessId,jdbcType=INTEGER}</if>
    </select>
</mapper>