<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.customer.RecordShareMapper">
	<insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">

        insert into cbh_record_share
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventNo != null and eventNo != ''">eventNo,</if>
            <if test="amtCooperation != null">amtCooperation,</if>
            <if test="amtShare != null and amtShare != ''">amtShare,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createAt != null">createAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="eventNo != null and eventNo != ''">#{eventNo},</if>
            <if test="amtCooperation != null">#{amtCooperation},</if>
            <if test="amtShare != null and amtShare != ''">#{amtShare},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createAt != null">now(),</if>
        
        </trim>
    </insert>
    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT id,eventNo,amtCooperation,amtShare,description,createAt FROM cbh_record_share
    <if test="beginTime != null and endTime != null and beginTime != '' and endTime != ''">where createAt BETWEEN #{beginTime} AND #{endTime}</if>
    ORDER BY createAt DESC
    </select>
</mapper>