<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.activities.GiftRecordMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into cbh_gift_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="giftId != null">giftId,</if>
            <if test="openId != null and openId != ''">openId,</if>
            <if test="licensePlateNumber != null and licensePlateNumber != ''">licensePlateNumber,</if>
            <if test="createAt != null and createAt != ''">createAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
         	<if test="giftId != null">#{giftId,jdbcType=INTEGER},</if>
            <if test="openId != null and openId != ''">#{openId,jdbcType=VARCHAR},</if>
            <if test="licensePlateNumber != null and licensePlateNumber != ''">#{licensePlateNumber,jdbcType=VARCHAR},</if>
            <if test="createAt != null and createAt != ''">#{createAt,jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE cbh_gift_record
        <set>
          	<if test="giftId != null">giftId = #{giftId,jdbcType=INTEGER},</if>
            <if test="openId != null and openId != ''">openId = #{openId,jdbcType=VARCHAR},</if>
            <if test="licensePlateNumber != null and licensePlateNumber != ''">licensePlateNumber = #{licensePlateNumber,jdbcType=VARCHAR},</if>
            <if test="createAt != null and createAt != ''">createAt = #{createAt,jdbcType=DATE},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findSingle" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT r.* FROM cbh_gift_record r WHERE r.id = #{id}
    </select>
    
    <select id="selectByOpenId" parameterType="java.util.Map" resultType="java.util.Map">
    	select r.* from cbh_gift_record r where r.openId = #{openId}
    </select>
</mapper>