<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.activities.MiddleCouponCustomerMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into middle_coupon_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customerId,</if>
            <if test="couponNo != null and couponNo != ''">couponNo,</if>
            <if test="status != null">status,</if>
            <if test="receiveTime != null">receiveTime,</if>
            <if test="useTime != null">useTime,</if>
            <if test="isDel != null">isDel,</if>
            <if test="delTime != null">delTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId,jdbcType=INTEGER},</if>
            <if test="couponNo != null and couponNo != ''">#{couponNo,jdbcType=VARCHAR},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="receiveTime != null">#{receiveTime,jdbcType=DATE},</if>
            <if test="useTime != null">#{useTime,jdbcType=DATE},</if>
            <if test="isDel != null">#{isDel,jdbcType=INTEGER},</if>
            <if test="delTime != null">#{delTime,jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE middle_coupon_customer
        <set>
            <if test="customerId != null">customerId = #{customerId,jdbcType=INTEGER},</if>
            <if test="couponNo != null and couponNo != ''">couponNo = #{couponNo,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="receiveTime != null">receiveTime = #{receiveTime,jdbcType=DATE},</if>
            <if test="useTime != null">useTime = #{useTime,jdbcType=DATE},</if>
            <if test="isDel != null">isDel = #{isDel,jdbcType=INTEGER},</if>
            <if test="delTime != null">delTime = #{delTime,jdbcType=DATE},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT c.* FROM middle_coupon_customer c
         WHERE isDel = 0
        <if test="customerId != null and customerId != ''"> AND c.customerId = #{customerId}</if>
        <if test="couponNo != null and couponNo != ''"> AND c.couponNo = #{couponNo}</if>
    </select>
    <select id="findPayCoupon" parameterType="java.util.Map" resultType="java.util.Map">
       select c.amount,m.id,s.`name` from middle_coupon_customer m
		LEFT JOIN cbh_coupon c on c.couponNo=m.couponNo
		LEFT JOIN cbh_maintenanceshop s on s.id=c.shopId
		where (c.type BETWEEN 1 AND 2)AND m.isDel = 0 AND c.isDel = 0 and m.status=1
		<if test="customerId != null and customerId != ''"> AND m.customerId = #{customerId}</if>
		ORDER BY c.amount desc limit 1
    </select>
</mapper>