<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.system.LogMapper">
    <insert id="saveEntitySingle" parameterType="com.zccbh.demand.pojo.system.Log">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="practitioner != null and practitioner != ''">practitioner,</if>
            <if test="ip != null and ip != ''">ip,</if>
            <if test="perform != null and perform != ''">perform,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="pram != null and pram != ''">pram,</if>
            <if test="createAt != null">createAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="practitioner != null and practitioner != ''">#{practitioner},</if>
            <if test="ip != null and ip != ''">#{ip},</if>
            <if test="perform != null and perform != ''">#{perform},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="pram != null and pram != ''">#{pram},</if>
            <if test="createAt != null">#{createAt},</if>
        </trim>
    </insert>

    <select id="findEntityMore" parameterType="java.util.Map" resultType="com.zccbh.demand.pojo.system.Log">
        SELECT
          log.id,log.practitioner,log.ip,log.perform,log.url,log.pram,log.createAt
        FROM
        sys_log AS log
        WHERE 1 = 1
        <if test="practitioner != null and practitioner != ''"> AND log.practitioner = #{practitioner,jdbcType=VARCHAR}</if>
        <if test="perform != null and perform != ''"> AND log.perform = #{perform,jdbcType=VARCHAR}</if>
        ORDER BY
          log.createAt DESC
    </select>

</mapper>