<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zccbh.demand.mapper.system.RoleMapper">
    <insert id="saveSingle" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="status != null">status,</if>
            <if test="createAt != null">createAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name,jdbcType=VARCHAR},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">#{createAt,jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="updateModel" parameterType="java.util.Map">
        UPDATE sys_role
        <set>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
            <if test="createAt != null">createAt = #{createAt,jdbcType=DATE},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteModel" parameterType="java.lang.Integer">
        delete from sys_role where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findMore" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT id,name,status,createAt FROM sys_role
        WHERE 1 = 1
        <if test="name != null and name != ''"> and name like concat('%',#{name,jdbcType=VARCHAR},'%')</if>
        ORDER BY createAt DESC
    </select>

</mapper>