#leftNav .panel{
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
#leftNav .panel-default > .panel-heading {
    color: #999999;
    height: 44px;
    padding: 0 15px;
    background-color: transparent;
}
.openNav{
    color: #ffffff !important;
    background-color: #000000 !important;
}
.activeLi a{
    color: #ffffff !important;
}

#leftNav .panel-title a{
    font-size: 14px;
    line-height: 44px;
    display: inline-block;
    width: 100%;
}
#leftNav .panel-title a:visited{
    text-decoration: none;
}
#leftNav .panel-title a:focus{
    text-decoration: none;
}
#leftNav .panel-heading:hover{
    background-color: #000000;
}
#leftNav .panel-heading:hover a{
    text-decoration: none;
    color: #ffffff;
}
#leftNav .panel-title:hover{
    background-color: #000000;
}
#leftNav .panel-body{
    padding: 0;
}
.son-nav li{
    width: 200px;
    height: 44px;
    line-height: 44px;
    text-indent: 18px;
}
.son-nav li:hover{
    background-color: #000000;
}
.son-nav li:hover a{
    text-decoration: none;
    color: #ffffff;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.hover-icon{
    font-size: 22px;
    float: right;
    margin-top: 12px;

}
.rote{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
.main-nav{
    height: 60px;
    background-color: #FFFFFF;
}
.main-brand{
    width: 200px;
    height: 60px;
    padding: 5px 15px;
}
.side-nav li a{
    color: #b8c7ce;
}
.side-nav li a i,.navbar-user li i{
    margin-right:10px;
}
.user-dropdown{
    width: 100px;
    height: 60px;
}
.user-dropdown > a{
    width: 100%;
    height: 100%;
}
.index-dropdown a .caret{
    margin-top: 6px;
    float: right;
    border-top: 6px solid #000000;
    border-right: 6px solid transparent;
    border-bottom: 0 dotted;
    border-left: 6px solid transparent;
}
/*分公司页面*/
.comp-table-box{
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.comp-table-box table{
    background-color: #fff;

}
.box-title{
    font-size: 18px;
    color: #444;
}
.box-header{
    margin-bottom: 24px;
}
.index-bread{
    background-color: transparent;
    margin-bottom: auto;
}

/*修改密码页面*/
.margin-top-ele1{
    margin-top: 30px;
}
.margin-top-ele{
    margin-top: 58px;
}
.float-ele{
    float: left;
}
.pass-border{
    border-bottom: 1px solid grey;
}
/*首页*/
.data-show-des li {
    width: 25%;
    height: 110px;
    float: left;
    text-align: center;
}
.data-show-des li span {
    display: block;
    font-size: 28px;
    color: #9c6;
    font-weight: 700;
    margin-top: 10px;
}
.data-show-des label{
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}
.index-tab-content{
    height: 110px;
    background-color: #fff;
}
.margin-bottom-ele{
    margin-bottom: 20px;
}
.def-btn{
    width:82px;

}
/*分公司账户 总额*/
.draw-wrap{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.draw-wrap li {
    float: left;
    width: 20%;
    height: 100%;
    color: #000;
    text-align: center;
    line-height: 30px;
}
.draw-wrap li span {
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
.font-we {
    font-weight: bold;
}
.ora-word {
    color: #FE4A31;
}
.blue-word {
    color: #00B4FF;
}
.yello-word {
    color: #F8A625;
}
.green-word {
    color: #27EAB5;
}

/*订单列表*/
.float-ele-right button{
    float: right;
    margin-left: 20px;
}
.white-table{
    background-color: #ffffff;
}
.nav-bac{
    background-color: #D8EBF6;
}
.nav-bac li a:hover{
    background-color:#fff;
    border: none;
}

.panel-de-button,.input-search{
    padding-left: 20px;
    margin: 30px 0 20px;
    float: left;
    position: relative;
    z-index: 100;
}
/*修改 操作 弹窗*/
.update-lay-box{
    display: none;
    width: 360px;
    margin-top: 20px;
}
.update-lay-box .form-group{
    margin: 10px auto;
}
.update-lay-box form{
    width: 350px;
}
.set-lay-box{
    height: 60px;
}
.set-lay-box .form-group{
    margin: 10px auto;
    height: 50%;
}


/*左侧导航 点击active样式*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff !important;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

/*询问弹窗*/
.is-layer{
    height: 30px;
    text-indent: 32px;
    margin-top: 13px;
}
/*修改 弹窗 险种标题*/
.update-lay-box .panel{
    margin: 20px;
}
.update-lay-box .form-group{
    margin-bottom: 10px;
    /*height: 34px;*/
}

/*级联 select*/
.select-address select{
    height: 34px;
    width: 46%;
}
.fa{
    margin-right: 8px;
}
/*添加管理员 弹窗*/
#ad-layer {
    display: none;
    height: auto;
    margin-top: 20px;
    padding: 0 20px;
}
#ad-layer ul li {
    height: 42px;
}
#ad-layer ul li span {
    display: inline-block;
    width: 38%;
}
#ad-layer ul li .ad-mem-span {
    display: inline-block;
    width: 26%;
    text-align: right;
    margin-right: 9%;
}
#ad-layer ul li .ad-input {
    display: inline-block;
    width: 60%;
    height: 34px;
}
.ad-layer {
    display: none;
    height: auto;
    margin-top: 20px;
    padding: 0 20px;
}
.ad-layer ul li {
    height: 42px;
}
.ad-layer ul li span {
    display: inline-block;
    width: 38%;
}
.ad-layer ul li .ad-mem-span {
    display: inline-block;
    width: 26%;
    text-align: right;
    margin-right: 9%;
}
.ad-layer ul li .ad-input {
    display: inline-block;
    width: 60%;
    height: 34px;
}
/*操作 select*/
.op-select{
    display: inline-block;
    width: 160px;
    height: 34px;
    cursor: pointer;
}
.set-limit{
    color: #00b3ee;

    cursor: pointer;
}
.set-limit:hover{
    text-decoration: underline;
}

/*树形菜单选择*/
.check_1{
    float: left;
}
input[type="radio"], input[type="checkbox"] {
    margin: auto;
    margin-top: 1px \9;
    line-height: normal;
}
#codeLay{
    width:400px;
    height: 300px;
}
.code-img{
    width: 200px;
    height: 200px;
    margin: 50px auto;
}
.code-img img{
    box-shadow: 4px 8px 5px gainsboro;
}

.son-nav li a{
    color: #999999;
    display: inline-block;
    width: 100%;
}

/*页头 退出登录*/
a{
    color: #333;
}
a:hover{
    text-decoration: none;
    color: #333;
}
a:visited{
    /*color: #333;*/
}
.ht-nav {
    position: absolute;
    height: 60px;
    margin-top: -30px;
    top: 50%;
    right: 0;
    line-height: 60px;
}
.ht-nav .ht-nav-item {
    width: 130px;
    float: left;
}
.ht-nav-item .user-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    border-radius: 50%;
}
.user-nc{
    float: left;
}
#exitBox {
    cursor: pointer;
    right: 10px;
    height: auto;
    top: 60px;
    width: 128px;
    position: absolute;
    z-index: 999;
    display: none;
}
#exitBox ul li {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
#exitBox ul li a {
    display: block;
    height: 100%;
    color: #333;
    background: url(../images/exit_btn.png) no-repeat left;
    text-indent: 30px;
}
.ht-nav-item .user-logo img {
    border-radius: 50%;
    display: inherit;
}

#exitBox ul li a:hover{
    color: #fff;
    background: url("../images/exit_white.png") no-repeat left;
}
#exitBox ul li:hover{
    background-color:#283039;
}

/*表格 图片*/
.table-img{
    display: inline-block;
    width:100px;
    height: 70px;
}

/*互助金管理 统计*/
.index-wrap{
    margin: 26px 0;
}
.index-wrap ul{
    margin:50px auto 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

.clear-border{
    border: none;
    margin-bottom: 0;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
     border-bottom-width: 0;
}
.panel-footer{
    background-color: #ffffff;
    border: none;
}
.index-wrap ul li{
    position: relative;
    float: left;
    width: 11.11%;
    padding: 30px 0;
    text-align: center;
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}
.index-wrap.w5 ul li {
    width: 20%;
}
.index-wrap ul li:before{
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    border-left: 2px solid #f2f2f2;
}
.index-wrap ul li:first-child:before{
    display: none;
}
.index-wrap ul li span{
    font-size: 30px;
    color: #676767;
}
.index-wrap ul li p{
    font-size: 14px;
    color: #353535;
}
.blueBac{
    background-color: rgba(68,150,255,0.7);
}
.redBac{
    background-color: rgba(238,80,21,0.7);
}
.greyBac{
    background-color: rgba(65,77,90,0.7)
}
.yellowBac{
    background-color: #ECB115;
}
.text-ali th{
    text-align: center;
}
.show-palm{
    cursor: pointer;
}

.user-reason{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: none;
    color: orangered;
}
.margin-right{
    margin-right: 10px;
}
#car-des,#addCarLay,#record{
    display: none;
}
/*订单详情页面*/
.details-li{
    width: 100%;
    padding-left: 20px;
    overflow: hidden;
}
.details-li > li{
    float: left;
    width: 33.33%;
    min-height: 36px;
    max-height: 160px;
}
.details-li .details-tt {
    width: 100%;
    font-weight: bold;
}
.details-tt.tt2 {
    margin-top: 10px;
}
.details-input {
  margin-bottom: 10px;
}
.details-input > span {
    margin: 6px 10px 0 0;
}
.details-input .sm-input {
    width: 105px;
    margin-right: 6px;
}
.details-input .xl-input {
    width: 500px;
}
.details-input textarea {
    width: 500px;
    height: 100px;
}
.details-input.full-input {
    width: 100%;
}
.details-input .btn-info {
    margin-left: 6px;
}
.card-info{
    padding: 0 20px 20px;
    clear: both;
    overflow: hidden;
}
.card-info ul{
    height: auto;
}
.card-info h3,.details-title li{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
}
.details-title li{
    padding-left: 20px;
}
.card-info h3{
    padding-left: 20px;
}
.card-info ul li{
    float: left;
    width: 16%;
}
.card-info ul li .card-img{
    display: block;
    width: 90%;
    box-shadow: 5px 5px 10px gainsboro;
    overflow: hidden;
    border-radius: 4px;
}
.card-info ul li .card-img img {
    position: absolute;
}
.card-info ul li .card-img:after {
    content: "";
    display: block;
    padding-top: 100%;
}
.card-info ul li p{
    text-align: center;
    width: 90%;
    margin-top: 14px;
    font-weight: bold;
}
.check-btn{
    width: auto;
    height: auto;
    text-align: center;
}
.check-btn button{
    margin-right: 20px;
}
.upload-img {
  position: relative;
  background: url(../images/icon_camera.png) center/60% auto no-repeat #ededed;
}
.upload-img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.upload-img input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.upload-add {
  background: #ededed;
}
.upload-add:before {
  content: "＋";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 90px;
  line-height: 90px;
  margin-top: -45px;
  color: #fff;
  text-align: center;
}
.upload-cel,
.upload-del {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255,255,255,.7);
  text-align: center;
  z-index: 3;
  display: none;
}
.upload-cel:before,
.upload-del:before {
  content: "Ｘ";
  font-size: 20px;
  line-height: 28px;
  color: #000;
}
.upload-img.uploaded .upload-cel,
.upload-img.uploaded .upload-del {
  display: block;
}
.dropdown-box li {
  width: 100% !important;
}
.form-readonly {
  cursor: pointer !important;
  background-color: #fff !important;
}
/*重置弹窗 填写报价失败*/
#defeated-layer{
    display: none;
    background-color: #fff;
}
#defeated-layer textarea{
    width: 100%;
}
#defeated-layer h3{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
/*重置弹窗 填写报价成功*/
#defeated-layer2{
    display: none;
    background-color: #fff;
}
#defeated-layer2 textarea{
    width: 100%;
}
#defeated-layer2 h3{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.input-reason{
    padding: 0 20px;
}
.input-reason>h3{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.input-reason textarea{
    display: block;
    width: 360px;
    height: 90px;
    resize:none;
	border: 1px solid gainsboro;
}
.card-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
/*
.card-img img{
    opacity:0;
}*/
/*放大图片*/
.bigImg{
    /*text-align: center;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 99999;
    width: 666px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    overflow-y: scroll;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bigImg #closeBtn,.bigImg #roteBtn{
    width: 38px;
    height: 38px;
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 99999;
    cursor: pointer;
    text-align: center;
}
.bigImg #closeBtn:hover{
    background-color: orangered;
    border-radius: 2px;
    transition: all linear 0.2s;
}
.bigImg #roteBtn:hover{
    background-color: orangered;
    border-radius: 2px;
    transition: all linear 0.2s;
}
.bigImg #roteBtn{
    right: 80px;
    background: url("../images/rote.png") no-repeat center;
}
.bigImg #closeBtn{
    background: url("../images/close.png") no-repeat center;
}
.bottom-text{
    color: #fff;
    line-height: 100px;
}
/*.bigImgShow{
    position: absolute;
    left:50%;
    top: 50%;

}*/
.nav-tabs{
    border-bottom: none;
}

/*当前位置*/
.position-row{
    position: fixed;
    left: 200px;
    width: 100%;
    height: 30px;
    top:61px;
    z-index: 999;
}

.index-bread a{
    color: #ffffff;
}
.index-bread a:hover{
    color:#FE563F ;
}
.index-bread{
    background-color: #999999;
    margin-bottom: auto;
    color: #ffffff;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
/*lay 滚动条*/

.layui-layer-page .layui-layer-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}
.layui-layer-page .layui-layer-content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.layui-layer-page .layui-layer-content::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: gainsboro;
}
.layui-layer-page .layui-layer-content,.pre-default-timeline{
    scrollbar-arrow-color:  #F5F5F5;; /*三角箭头的颜色*/
    scrollbar-face-color:  #F5F5F5; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-shadow-color: rgba(0,0,0,.3);; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #F5F5F5;; /*立体滚动条外阴影的颜色*/
    scrollbar-track-color: gainsboro; /*立体滚动条背景颜色*/
    scrollbar-base-color:gainsboro; /*滚动条的基色*/
}
.layui-timeline {
    overflow-y: scroll;
    height: 316px;
}


.pre-default-timeline::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}
.pre-default-timeline::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.pre-default-timeline::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: gainsboro;
}

/* 小屏幕（手机） */
@media (max-width: 375px) {
    .position-row{
        left: 0;
    }
    .panel-de-button,.input-search{
        margin: 10px 0;
    }
    .panel-info .form-group{
        margin-bottom: 0;
    }
    table{
        font-size: 12px;
    }
}
/*小屏 PC*/
@media (max-width: 1200px) {
    .details-li li {
        width: 50%;
    }
}

.score-tag {
    margin-right: 6px;
    display: inline-block;
    border: 1px solid #000;
    padding: 2px 4px;
}
.i-star {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    background: url("../images/icon_star.png") 0 -90px/30px auto no-repeat;
}
.i-star.empty {
    background-position: 0 -120px;
}

.nav > li,
.nav-tabs > li,
.nav-bac > li {
  min-height: 42px;
}
